// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 { 
padding: 5px;
border: 5px solid navy;
margin: 5px;

}


.col-md-4 center h4 {  
padding: 5px;
border: 5px dashed navy;
margin: 5px;	
}